
@{ ViewData["Title"] = "Invoice"; }

<div class="page-header">
    <div class="m-t-10s">
        <button class="btn btn-success btn-xs text-center rounded-pill m-r-5" onclick="UploadModal()">
            <i class="anticon anticon-plus"></i> Import CSV or XML
        </button>
    </div>
</div>

<div class="container-fixed-sm" id="transactionList">

</div>

<!-- Modal -->
<div class="modal fade" id="uploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="avatar avatar-cyan avatar-icon avatar-square">
                    <i class="anticon anticon-file" style="font-size: 25px;"></i>
                </div>
                <h5 class="modal-title m-10" id="exampleModalLabel">Import file</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="text-danger anticon anticon-close-circle"></i>
                </button>
            </div>
            <div id="uploadModal-Body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="importfile()">Import</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*<script src="~/assets/vender/sweet-alert/sweetalert.min.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript">
        var page = '@ViewBag.page';

        $(function () {
            ShowList('@Url.Action("_GetAllTransactions", "Transaction")', '#transactionList');

            initComponents();
        });

        function ShowList(action, div) {
            $.ajax({
                cache: false,
                url: action,
                data: {
                    page: page
                },
                beforeSend: function () {
                    $(div).empty().append('<div id="load_screen" style="text-align: center;"><div style="width:100%;height:100%" class="loader"><div class="loader-content"><div class="spinner-grow" style="background-color: skyblue;"></div></div></div></div>');
                },
                success: function (myData) {
                    $(div).empty().append(myData);
                },
                complete: function () {
                }
            })
        }

        function initComponents() {
            $('#transactionList').on("click", ".pagedList a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                ShowList('@Url.Action("_GetAllTransactions", "Transaction")', '#transactionList');
            });
        }

        function UploadModal() {
            $.ajax({
                cache: false,
                url: '@Url.Action("_UploadFormModal", "Transaction")',
                beforeSend: function () {
                },
                success: function (Data) {
                    $("#uploadModal-Body").empty().append(Data);
                },
                complete: function () {
                    $("#uploadModal").modal('show');

                    $("#customFile").on("change", function () {
                        var filename = $(this).val();
                        $('#inputfilenameDisplay').empty().append(filename);
                    });
                }
            });
        }

        function importfile() {
            var fileData = new FormData();
            var files = $("#customFile").get(0).files;
            var fileLength = files.length;
            for (var i = 0; i < fileLength; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                cache: false,
                type: "POST",
                data: fileData,
                processData: false,
                contentType: false,
                url: '@Url.Action("Upload", "Transaction")',
                beforeSend: function () {
                    $('.sub-btn').empty().append('Importing');
                    $('.sub-btn').prop("disabled", true);
                },
                success: function (data) {
                    switch (data) {
                        case 'Success':
                            $("#uploadModal").modal('hide');

                            Swal.fire("Successfully!", "Successfully imported!", "success").then(function () {
                                ShowList('@Url.Action("_GetAllTransactions", "Transaction")', '#transactionList');
                            });
                            break;
                        case 'Error':
                            Swal.fire("Error!", "Successfully imported!", "error");
                            break;
                        default:
                            Swal.fire("Error!", data.join("<br />"), "error");
                    }
                },
                complete: function () {
                    $('.sub-btn').empty().append('Import');
                    $('.sub-btn').prop("disabled", false);
                }
            });

        }

    </script>
}

